@CHARSET "UTF-8";
#qmask {
	background-color: rgba(0,0,0,0);
	border:20px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-top:20px solid rgba(0,0,0,0);
	border-left:20px solid rgba(0,0,0,0);
	border-radius:300px;
	box-shadow: 0 0 40px #2187e7;
	-moz-animation:spin .7s infinite linear;
	-webkit-animation:spin .7s infinite linear;
	-o-animation:spin .7s infinite linear;
	-ms-animation:spin .7s infinite linear;
	position:absolute;
	top:50%;
	left:50%;
	width:120px;
	height:120px;
	margin:-80px 0 0 -80px;
	z-index:2002;
}
@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}
@-o-keyframes spin {
	0% { -o-transform:rotate(0deg); }
	100% { -o-transform:rotate(360deg); }
}
@-o-keyframes spinoff {
	0% { -o-transform:rotate(0deg); }
	100% { -o-transform:rotate(-360deg); }
}
@-ms-keyframes spin {
	0% { -ms-transform:rotate(0deg); }
	100% { -ms-transform:rotate(360deg); }
}
@-ms-keyframes spinoff {
	0% { -ms-transform:rotate(0deg); }
	100% { -ms-transform:rotate(-360deg); }
}