<#include "/WEB-INF/view/base/inc.html"/>

<@bslist qpage=qpage>
	<@bstable>
		<thead>
			<tr>
		        <th><input type="checkbox" class="allcheck"/></th>
				<th>计划类型</th>
				<th>计划标题</th>
				<th>计划开始时间</th>
				<th>计划结束时间</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		    <#list qpage.list?if_exists as row>
			    <tr data="id:${row.id};">
			        <td><input type="checkbox" class="onecheck"/></td>
				    <td>${static.get(row.plan_data_type)}</td>		    
					<td>${(row.plan_data_title)!}</td>				    
					<td>${(row.plan_data_start)!}</td>				    
					<td>${(row.plan_data_end)!}</td>				    
					<td>${(row.cdate)!}</td>				    
					<td>
			        	<@bsbutton size='xs' icon='pencil' class='editbtn'/>
			        	<@bsbutton size='xs' icon='remove' class='delbtn'/>
			        </td>
			    </tr>
		    </#list>
		</tbody>
	</@bstable>
</@bslist>

<@jsfile js='bsdate'></@jsfile>