<#include "/WEB-INF/view/base/inc.html"/>

<@ueditor init=false>ue = UE.getEditor('ueditor',{zIndex:1100});</@ueditor>
<form class="form-horizontal" role="form">
	<input type="hidden" name="row.id" value="${(row.id)!}"/>
	<@bsinput title='计划类型' input=false>
		<@bsradios name='row.plan_data_type' ck='${(row.plan_data_type)!"020101"}' list=plantypes/>
	</@bsinput>
	<@bsinput title='计划开始时间' name='row.plan_data_start' value='${(row.plan_data_start)!}' class='qdate'/>	
	<@bsinput title='计划结束时间' name='row.plan_data_end' value='${(row.plan_data_end)!}' class='qdate'/>	
	<@bsinput title='计划标题' name='row.plan_data_title' value='${(row.plan_data_title)!}'/>	
	<@bsinput title='计划内容' input=false>
		<script id="ueditor" name="row.plan_data_content" type="text/plain">${(row.plan_data_content)!}</script>
	</@bsinput>
</form>
<script>
	$(function(){
		qiao.bs.bsdate('.qdate');
		
		$('input[name="row.plan_data_type"]').change(function(){
			var s = $(this).val().substr(5);
			qiao.bs.bsdate('.qdate',{minViewMode:parseInt(s)-1});
		});
	});
</script>