<#include "/WEB-INF/view/inc/inc.html"/>

<form class="form-horizontal" role="form">
	<input type="hidden" name="row.id" value="${(row.id)!}"/>
	<@bsinput title='博客id' name='row.blog_id' value='${(row.blog_id)!}'/>	
	<@bsinput title='博客评论昵称' name='row.blog_comment_uname' value='${(row.blog_comment_uname)!}'/>	
	<@bsinput title='博客评论内容' name='row.blog_comment_content' value='${(row.blog_comment_content)!}'/>	
	<@bsinput title='博客评论父id' name='row.blog_comment_parent_id' value='${(row.blog_comment_parent_id)!}'/>	
</form>