<#include "/WEB-INF/view/inc/inc.html"/>

<@html qmask=0>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="jumbotron" style="text-align:center;">
					<h1>QBlog</h1>
					<p style="margin:0;">
						<a href="http://uikoo9.com/jfinalQ" target="_blank">jfinalQ</a> and <a href="http://uikoo9.com/bootstrapQ" target="_blank">bootstrapQ</a> demo blog
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="alert alert-success" role="alert">试用帐号：test/test；管理帐号：admin/admin。</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:20px;">
				<h2>jfinalQ</h2><hr/>
				<h4>1.基于<a href="http://www.jfinal.com/" target="_blank">JFinal2.0</a>，易学，开发快速，功能强大</h4>
				<h4>2.基于<a href="http://v3.bootcss.com/" target="_blank">Bootstrap3.x</a>，简洁美观，完美适配移动端</h4>
				<h4>3.<a href="http://git.oschina.net/uikoo9/jfinalQ-blog" target="_blank">jfinalQ-blog</a>：jfinalQ最简化示例</h4>
				<h4>4.<a href="http://git.oschina.net/uikoo9/jfinalQ-gencode" target="_blank">jfinalQ-gencode</a>：jfinalQ自带代码生成工具</h4>
				<h4>5.<a href="http://git.oschina.net/uikoo9/jfinalQ-encrypt" target="_blank">jfinalQ-encrypt</a>：jfinalQ自带tomcat加密部署工具</h4>
				<h4>6.<a href="http://uikoo9.com/bootstrapQ" target="_blank">bootstrapQ</a>：jfinalQ自带bootstrap增强组件</h4>
			</div>
		</div>
	</div>
	<@backtotop/>
</@html>