<#include "/WEB-INF/view/base/inc.html"/>

<@html qmask=0>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<@bspanel style="margin:0 auto 20px;max-width:300px;">
					<@bsform class='loginform'>
						<div class="form-group">
							<input class="form-control input-lg" name="usermail" value="admin" type="text" placeholder="用户名（admin）">
						</div>
						<div class="form-group">
							<input class="form-control input-lg" name="password" value="admin" type="password" placeholder="密码（admin）">
						</div>
						<div class="form-group"><input class="btn btn-lg btn-primary btn-block loginbtn" type="button" value="登录"/></div>
						<div class="form-group"><h5 class="text-danger"></h5></div>
					</@bsform>
				</@bspanel>
			</div>
		</div>
	</div>
</@html>