<#include "/WEB-INF/view/base/inc.html"/>

<@ueditor init=false>ue = UE.getEditor('ueditor',{zIndex:1100});</@ueditor>
<form class="form-horizontal" role="form">
	<input type="hidden" name="row.id" value="${(row.id)!}"/>
	<@bsinput title='项目类型' input=false>
		<select class="form-control" name='row.pro_type_id'>
			<#list proTypes as item>
				<option value="${item.id}" <#if row?? && row.pro_type_id == item.id>selected</#if>>${item.pro_type_name}</option>
			</#list>
		</select>
	</@bsinput>
	<@bsinput title='项目序号' 		name='row.pro_project_sn' 		value='${(row.pro_project_sn)!}'/>	
	<@bsinput title='项目名称' 		name='row.pro_project_name' 	value='${(row.pro_project_name)!}'/>	
	<@bsinput title='项目首页' 		name='row.pro_project_home' 	value='${(row.pro_project_home)!}'/>	
	<@bsinput title='项目文档' 		name='row.pro_project_doc' 		value='${(row.pro_project_doc)!}'/>	
	<@bsinput title='项目源码' 		name='row.pro_project_src' 		value='${(row.pro_project_src)!}'/>	
	<@bsinput title='项目android' 	name='row.pro_project_android'	value='${(row.pro_project_android)!}'/>	
	<@bsinput title='项目ios' 		name='row.pro_project_ios' 		value='${(row.pro_project_ios)!}'/>	
	<@bsinput title='项目描述' input=false>
		<script id="ueditor" name="row.pro_project_desc" type="text/plain">${(row.pro_project_desc)!}</script>
	</@bsinput>
</form>