<#include "/WEB-INF/view/base/inc.html"/>

<form class="form-horizontal" role="form">
	<@bsinput title='项目类型' input=false>
		<select class="form-control" name='row.pro_type_id'>
			<#list proTypes as item>
				<option value="${item.id}">${item.pro_type_name}</option>
			</#list>
		</select>
	</@bsinput>
	<@bsinput title='项目序号' 		name='row.pro_project_sn' 		/>	
	<@bsinput title='项目名称' 		name='row.pro_project_name' 	/>	
	<@bsinput title='项目首页' 		name='row.pro_project_home' 	/>	
	<@bsinput title='项目文档' 		name='row.pro_project_doc' 		/>	
	<@bsinput title='项目源码' 		name='row.pro_project_src' 		/>	
	<@bsinput title='项目android' 	name='row.pro_project_android'	/>	
	<@bsinput title='项目ios' 		name='row.pro_project_ios' 		/>	
</form>