<#include "/WEB-INF/view/base/inc.html"/>

<@ueditor init=false>ue = UE.getEditor('ueditor',{zIndex:1100});</@ueditor>
<form class="form-horizontal" role="form">
	<input type="hidden" name="row.id" value="${(row.id)!}"/>
	<@bsinput title='图书类型' input=false>
		<select class="form-control" name='row.book_type_id'>
			<#list bookTypes as item>
				<option value="${item.id}" <#if row?? && row.book_type_id == item.id>selected</#if>>${item.book_type_name}</option>
			</#list>
		</select>
	</@bsinput>
	<@bsinput title='图书名称' name='row.book_data_title' value='${(row.book_data_title)!}'/>	
	<@bsinput title='图书作者' name='row.book_data_auth' value='${(row.book_data_auth)!}'/>	
	<@bsinput title='图书出版社' name='row.book_data_press' value='${(row.book_data_press)!}'/>	
	<@bsinput title='图书星级' name='row.book_data_star' value='${(row.book_data_star)!}'/>	
	<@bsinput title='图书图片' name='row.book_data_pic' value='${(row.book_data_pic)!}'/>	
	<#if (row.id)??>
		<@bsinput title='图书阅读次数' name='row.book_data_readtimes' value='${(row.book_data_readtimes)!}'/>	
	</#if>
	<@bsinput title='图书描述' input=false>
		<script id="ueditor" name="row.book_data_desc" type="text/plain">${(row.book_data_desc)!}</script>
	</@bsinput>	
</form>