<#include "/WEB-INF/view/base/inc.html"/>

<form class="form-horizontal" role="form">
	<@bsinput title='图书类型' input=false>
		<select class="form-control" name='row.book_type_id'>
			<#list bookTypes as item>
				<option value="${item.id}">${item.book_type_name}</option>
			</#list>
		</select>
	</@bsinput>
	<@bsinput title='图书名称' name='row.book_data_title'/>	
	<@bsinput title='图书作者' name='row.book_data_auth'/>	
	<@bsinput title='图书出版社' name='row.book_data_press'/>	
	<@bsinput title='图书星级' name='row.book_data_star'/>	
	<@bsinput title='图书图片' name='row.book_data_pic'/>	
</form>