<#include "/WEB-INF/view/base/inc.html"/>

<form class="form-horizontal" role="form">
	<input type="hidden" name="row.id" value="${(row.id)!}"/>
	<input type="hidden" name="row.stock_data_id" value="${(row.stock_data_id)!}" id="stockId"/>
	<@bsinput title='股票名称' input=false>
		<input type="text" class="form-control" placeholder="股票名称" id="stockInput"/>
	</@bsinput>
	<@bsinput title='股票数量' name='row.stock_detail_num' value='${(row.stock_detail_num)!}'/>	
	<@bsinput title='股票价格' name='row.stock_detail_price' value='${(row.stock_detail_price)!}'/>	
</form>

<script type="text/javascript">
	$(function(){
		qiao.bs.search('#stockInput',{
			url: '/stock/data/searchByCode',
			make: function(item){
				return item.stock_data_name + '(' + item.stock_data_code + ')';
			},
			back: function(id){
				$('#stockId').val(id);
			}
		});
	});
</script>